/.web-server-pid
/app/config/parameters.yml
/build/
/src/ciberConnect/shopBundle/Resources/public/trailers/*
/src/ciberConnect/shopBundle/Resources/public/imagenes/*
/src/ciberConnect/shopBundle/Resources/public/prueba/*
/src/ciberConnect/shopBundle/Resources/public/carpeta sin título/*
/node_modules
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
