{% extends 'ciberConnectshopBundle:Default:index.html.twig' %}
{% block main %}
{% set i = 1 %}
<div class="container">
  <div class="row pageContainer">
    <div class="col-lg-12">
      <div class='class="embed-responsive embed-responsive-21by9"'>
      </div>
    </div>
  </div>
</div>
{% endblock %}
